.feed-container {
    margin-top: 80px;
}

.feed-image {
    width: 500px;
    height: 500px;
}

.feed-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.feed-left, .feed-right {
    width: 20%;
    /* background-color: lightcoral */
}

.feed-mid {
    width: 60%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.feed-images {
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-left: 0px;
}

.feed-image-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: 1px solid lightgrey;
    margin-bottom: 35px;
    border-radius: 3px;
}

.feed-image-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 500px;
    background-color: white;
    /* height: 50px; */
    /* background-color: white;
    text-decoration: none; */
}

.feed-image-header-wrap {
    height: 40px;
    display: flex;
    align-items: center;
}

.feed-image-bottom {
    margin-left: 5px;
    font-family: 'Roboto', sans-serif;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

.profile-link {
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.feed-profile-pic {
    width: 30px;
    height: 30px;
    padding-left: 5px;
    padding-right: 7px;
    border-radius: 50%;
}