.login-form-container {

}

.login-page-right {
    display: flex;
    justify-content: center;
    border: 1px solid lightgrey;
    background: white;
    max-width: 350px;
    width: 100%;
    margin-top: 12px;
}

.login-signup-link a {
    text-decoration: none;
}