.post-index, .user-page-photos {
    width: 250px;
    height: 250px;
    padding: 20px;
}

.post-pic-preview {
    width: 325px;
    height: 325px;
}

.profile-top {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

.profile-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
    font-family: 'Source Sans Pro', sans-serif;
}

.post-ul, .profile-photo-index {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 1000px;
    list-style: none;

}

.profile-top-buttons {
    /* padding */
    display: flex;
    justify-content: space-between;
}


.profile-button {
    background-color: transparent;
    border: 1px solid #dbdbdb;
    color: #262626;
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
    justify-content: space-between;
    padding: 5px 10px;
    border-radius: 5px;
}

.profile-button:hover {
    background-color:  rgb(238, 238, 238);
    cursor: pointer;
}