.post-index, .user-page-photos {
    width: 250px;
    height: 250px;
    margin: 20px;
    /* display: flex;
    justify-content: space-around; */
}

.profile-top {
    display: flex;
    width: 70%;
    min-width: 740px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.profile-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
}

.post-ul, .profile-photo-index {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* justify-content: center; */
    /* flex-direction: column; */
    align-items: center;
    width: 80%;
    list-style: none;
    padding-left: 10%;
}

.profile-photo-index-container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: flex-start; */
    justify-content: center;
    /* flex-direction: column; */
    align-items: center;

}

.profile-top-buttons {
    display: flex;
    justify-content: space-between;
}


.profile-button {
    background-color: transparent;
    border: 1px solid #dbdbdb;
    color: #262626;
    font-size: 12px;
    font-weight: 600;
    margin-right: 10px;
    padding: 5px 5px;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    align-content: center;
    outline: none;
}

.profile-button:hover {
    background-color:  rgb(238, 238, 238);
    cursor: pointer;
}

.profile-display-pic {
    border: 1px solid #dbdbdb;
    background-color: darkgrey;
    border-radius: 70px;
    width: 125px;
    height: 125px;
}

.profile-top-up {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profile-top-down {
    width: 500px;
}

.profile-top-up, .profile-top-down {
    display: flex;
    justify-content: space-around;
}


.profile-top-right {
    width: 700px;
}

.cursor:hover {
    cursor: pointer;
}

.user-page-photos:hover {
    filter: brightness(0.3);
}


